# --- contents of .gitignore ---

# R
*.Rhistory
*.Rapp.history
inst/doc
vignettes/.build.timestamp
.Rproj.user/
.Rprofile

# C++
*.o
*.so
*.dll

# macOS
# osx
*.DS_Store

# bookdown
_book
_bookdown_files
search_index.json

# Python
__pycache__
.ipynb_checkpoints
